.footer{
  text-align: center;
  padding: 56px 0;
  background-color: #263238;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #00BCD4;
  text-decoration: none;
  font-weight: 700;
}

.footer .contact-icons {
  color: #00BCD4;
  padding-right: 100px;
  position: absolute;
  right: 0px;
}

.heart {
  color: #FF80AB;
}
