.header-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  float: right;
}

.left-button {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.right-button {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
